h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* margin-left: auto;
    margin-right: auto; */
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}
/* ul {
    list-style: none;
} */
/* common styles*/
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* logo */
.logo-primary {
  margin-right: 93px;

  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.accent {
  color: var(--accent-color);
}
/* page header */
.page-header {
  border-bottom: 1px solid #ececec;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.header {
  display: flex;
  align-items: center;
}
/* site-nav */
.site-nav {
  display: flex;
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link.current {
  position: relative;
}
/* line */
.site-nav .link.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* contacts */
.contact {
  display: flex;
  margin-left: auto;
}
.contact .item + .item {
  margin-left: 50px;
}
.contact-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.envelope,
.smartphone {
  fill: #757575;
  margin-right: 10px;
  vertical-align: middle;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover .envelope,
.contact-link:focus .envelope {
  fill: var(--accent-color);
}
.contact-link:hover .smartphone,
.contact-link:focus .smartphone {
  fill: var(--accent-color);
}
/* hero */
.hero-title {
  max-width: 596px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  /* background-color: #2f303a; */
  max-height: 600px;
  text-align: center;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* button */
.button {
  display: inline-block;
  padding: 0;
  min-width: 200px;
  min-height: 50px;

  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button {
  padding: 10px 32px;
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}
/* sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-work {
  padding-top: 0;
  padding-bottom: 94px;
}
/* specifics */
.specifics-list {
  display: flex;
}
.specifics-list > .specifics-item {
  width: 270px;
}
.specifics-item:not(:last-child) {
  margin-right: 30px;
}
.specifics-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  line-height: 1.14;
  text-transform: uppercase;
}
.specifics-list .text {
  line-height: 1.71;
}
.specifics-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
/* work */
.work {
  display: flex;
}
.work .item:not(:last-child) {
  margin-right: 30px;
}
.work-wrapper {
  position: relative;
}
.work-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
/* team */
.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
}
.team-list > .item {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-member {
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
}
.social-team-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
.social-team-item:not(:last-child) {
  margin-right: 10px;
}
.social-team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-team-link:hover,
.social-team-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.social-team-link {
  cursor: pointer;
}
.social-team-icon {
  fill: currentColor;
}
/* clients */
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.link-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-clients {
  cursor: pointer;
}
.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-clients:hover .clients-icon,
.link-clients:focus .clients-icon {
  fill: #2196f3;
}
.link-clients:hover,
.link-clients:focus {
  border-color: var(--accent-color);
}

/* стилі для портфоліо */

/* скритий заголовок */
.portfolio-title {
  margin-top: 0;
  margin-bottom: 0;
}
/* filters  */
.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-list .filter {
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;

  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list .filter:hover,
.filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filter {
  cursor: pointer;
}
.filter .active {
  background-color: #2196f3;
  color: #ffffff;
}
.filter {
  border: 1px solid transparent;
}
/* .products */
.products {
  display: flex;
  flex-wrap: wrap;
}
.products > .item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.products .item:nth-child(3n) {
  margin-right: 0;
}
.products .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card {
  display: block;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products .products-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.products .products-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 30px;
}
.no-gap {
  display: block;
}
.products-card {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards-overlay {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  padding: 63px 24px;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover .text-overlay,
.card:focus .text-overlay {
  transform: translateY(0);
}
/* footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer {
  display: flex;
  align-items: baseline;
}
.logo-secondary {
  display: block;
  margin-bottom: 20px;

  color: #ffffff;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.address {
  font-style: normal;
  color: #ffffff;
  line-height: 1.71;
}
.item-address:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
.social {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
.social-media {
  width: 206px;
  margin-left: 70px;
}
.social-list {
  display: flex;
  margin-top: 20px;
}
.social-link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-item:not(:last-child) {
  margin-right: 10px;
}
.social-icon {
  fill: #ffffff;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-link {
  cursor: pointer;
}
.subscription {
  margin-left: 93px;
}
.footer-input {
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 12px;
  padding: 0;
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-btn {
  padding: 10px auto;
}
.icon-send {
  fill: #ffffff;
  vertical-align: middle;
  margin-left: 10px;
}
/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
}
.close {
  fill: #000000;
}
/* form */

.service-form {
  width: 100%;
  padding: 40px;
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);

  margin-bottom: 12px;
}
.form-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 448px;
  height: 342px;
}
.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-input {
  padding: 0;
  margin-top: 4px;

  width: 448px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea {
  resize: none;
  padding: 0;
}
.check {
  fill: red;
}
.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
}
